<div class="card-list mb-5" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= rails_blob_url(@list.photo) %>)'>
  <h1 class="mb-4"><%= @list.name %></h1>
  <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn-pink-banner", data: { controller: "modal", action: "click->modal#showModal"} %>

</div>

<%# MOVIES LIST %>

<div class="container mt-3 mb-5">
  <div class="movies-list" id="movies-list">
    <% @list.bookmarks.each do |bookmark| %>
        <%= render "lists/movie_card", bookmark: bookmark  %>
    <% end %>
  </div>
  <div class="d-flex justify-content-between">
    <%= link_to lists_path, class: "btn btn-dark" do %>
      <i class="fa-solid fa-arrow-left"></i> Back
    <% end %>
    <%= link_to 'Delete this list'.html_safe, list_path(@list), class: "btn btn-dark", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
</div>
